@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

.round {
    border-radius: 100px;
}

.btn-nav {
    border: black solid 1px;
    display: block;
    margin: auto;
}

.a-nav {
    text-decoration: none;
}
.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tile {
    flex: 1 0 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.hoverclass:hover{
    
    transform: scale(1.05);
}
